.follower-section-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: .5rem;
  margin: 2rem 0;
  background: var(--light_grayish_blue_card_bg);
  overflow: hidden;
}

.heading {
  height: 4px;
  width: 100%;
  margin-bottom: 2rem;
}

.icon-username-container {
  display: flex;
  align-items: center;
}

.icon-username-container img {
  margin-right: .5rem;
}

.icon-username-container p {
  font-size: .8rem;
  font-weight: 700;
  color: var(--dark_grayish_blue_text);
}

.follower-count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0 1.5rem 0;
}

.follower-count-container h1 {
  font-size: 3.5rem;
}

.follower-count-container h4 {
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: .5rem;
  font-weight: 400;
  color: var(--dark_grayish_blue_text);
}

.update-info {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.update-info img {
  margin-right: .3rem;
  height: .3rem;
}

.update-info.up p {
  color: var(--lime_green);
  font-weight: 700;
}

.update-info.down p {
  color: var(--bright_red);
  font-weight: 700;
}

.follower-section-card.dark-mode {
  background: var(--dark_desaturated_blue_card_bg);
}



.heading.facebook {
  background: var(--facebook);
}

.heading.twitter {
  background: var(--twitter);
}

.heading.instagram {
  background: var(--instagram);
}

.heading.youtube {
  background: var(--youtube);
}