.header-text {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--very_dark_blue_text);
}

.header-text h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .2rem;
}

.header-text p {
  font-size: .8rem;
  font-weight: 700;
  color: var(--dark_grayish_blue_text);
}

.Header.dark-mode .header-text {
  border-bottom: 1px solid var(--desaturated_blue_text);
}

.Header.dark-mode p {
  color: var(--desaturated_blue_text);
}

@media only screen and (min-width: 1100px) {
  .Header {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .header-text,
  .Header.dark-mode .header-text {
    border-bottom: none;
  }
}