@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
:root {
  font-size: 32px;
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
}

body .App {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App .image-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  background-image: url(../images/pattern-bg.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 2rem 0;
}

body .App .image-slider .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 280px;
  position: relative;
  -webkit-box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
}

body .App .image-slider .image-container img {
  border-radius: 0.2rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

body .App .image-slider .image-container img.hidden {
  display: none;
}

body .App .image-slider .image-container .slider-buttons {
  position: absolute;
  bottom: -25px;
  left: 100px;
  width: 80px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  overflow: hidden;
  -webkit-box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
}

body .App .image-slider .image-container .slider-buttons .slider-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5rem;
  background: #fff;
}

body .App .image-slider .image-container .slider-buttons .slider-button:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.02);
}

body .App .testimonial-section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  background-image: url(../images/pattern-quotes.svg), url(../images/pattern-curve.svg);
  background-repeat: no-repeat;
  background-size: 80px, contain;
  background-position: top, bottom;
  padding: 1rem 0.5rem;
}

body .App .testimonial-section blockquote {
  font-size: 0.7rem;
  margin-bottom: 1rem;
  font-weight: 300;
  color: #202046;
}

body .App .testimonial-section h5 {
  font-size: 0.5rem;
  color: #202046;
}

body .App .testimonial-section p {
  font-size: 0.5rem;
  color: #babacf;
}

@media only screen and (min-width: 800px) {
  body .App {
    height: 100vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .App .image-slider {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 2rem 0 0;
  }
  body .App .image-slider .image-container {
    width: 80%;
    height: auto;
  }
  body .App .testimonial-section {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    padding: 0;
  }
  body .App .testimonial-section blockquote,
  body .App .testimonial-section .user-info {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  body .App .testimonial-section blockquote {
    font-size: 1rem;
    width: 700px;
    width: 115%;
  }
  body .App .testimonial-section .user-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .App .testimonial-section .user-info h5 {
    margin-right: 0.5rem;
  }
}
/*# sourceMappingURL=main.css.map */