@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  outline: none;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.5rem;

}

.logo {
  width: 70px;
  margin-bottom: 2rem;
}

h1 {
  font-weight: 300;
  font-size: 1.2rem;
  color: hsl(0, 0%, 59%);
  margin-bottom: 1rem;
}

span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
}

p {
  font-size: .8rem;
  font-weight: 300;
  margin-bottom: 2rem;
  color: hsl(209, 33%, 12%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

input,
button {
  padding: .5rem 1.5rem;
  border-radius: 5rem;
  width: 100%;
  font-size: .6rem;
}

input {
  border: 1px solid hsl(223, 100%, 88%);
  margin-bottom: .5rem;
}

input.error {
  border: 1px solid hsl(354, 100%, 66%);
}

p.error {
  font-size: .6rem;
  font-style: italic;
  color: hsl(354, 100%, 66%);
}

button {
  color: #fff;
  border: none;
  background: hsl(223, 87%, 63%);
  font-weight: 600;
  margin-bottom: 3rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.mobile-chart {
  width: 90%;
  margin-bottom: 5rem;
}

.social-media-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
}

.social-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 25px;
  border: 1px solid hsl(223, 100%, 88%);
}

.social-icon-div i {
  color: hsl(223, 87%, 63%);
  font-size: .8rem;
}

footer {
  margin-top: 2rem;
  font-size: .5rem;
  color: hsl(0, 0%, 59%);
}

.hide {
  display: none;
}

@media only screen and (min-width: 700px) {
  .logo {
    width: 100px;
  }

  h1,
  span {
    font-size: 2.5rem;
  }

  .input-wrapper {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    margin-bottom: 4rem;
  }

  input,
  button {
    margin: 0;
    width: auto;
  }

  input {
    flex: 1;
    font-size: .8rem;
    padding: .8rem 1.5rem;
  }

  #error {
    position: absolute;
    bottom: -60px;
    left: 30px;
  }

  button {
    margin-left: .5rem;
    padding: .8rem 2.5rem;
  }

  button:hover {
    cursor: pointer;
    opacity: .9;
  }

  .mobile-chart {
    width: 35%;
  }

  .social-icon-div:hover {
    cursor: pointer;
    background: hsl(223, 87%, 63%);
  }

  .social-icon-div:hover i {
    color: #fff;
  }

  footer {
    font-size: .7rem;
  }

}