@import "./TitleSection";
@import "./RatingSection";
@import "./Rating";
@import "./CommentSection";
@import "./Comment";

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
