.comment-section {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 15% auto 15% 15%;
  grid-column-gap: 2rem;
  .comment:first-child {
    grid-row: 1 / 4;
  }
  .comment:nth-child(2) {
    grid-row: 2 / 5;
  }
  .comment:last-child {
    grid-row: 3 / 6;
  }
}
