.comment {
  display: grid;
  grid-template-columns: 3rem auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "image buyerInfo"
    "quote quote";
  background: $Very_Dark_Magenta;
  border-radius: 0.5rem;
  padding: 2rem;
  img {
    grid-area: image;
    width: 3rem;
    border-radius: 1.5rem;
  }
  .buyer-info {
    grid-area: buyerInfo;
    padding: 0.5rem 1.5rem;
    h5 {
      color: #fff;
      margin-bottom: 0.5rem;
    }
    h4 {
      color: $Soft_Pink;
    }
  }
  blockquote {
    grid-area: quote;
    margin-top: 2.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
    color: $Light_Grayish_Magenta;
  }
}
